/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
.mystyles{
    width:200;
    height: 120px;
    margin:10px;
    float: left;
}