<div class="container mt-3">


  <div class="card">

    <div class="card-header bg-primary text-center">
      <h1>Counter APP</h1>
    </div>

    <div class="row">
      <div *ngFor="let btnValue of buttons">
        
          <app-counter [btnLable]="btnValue" (noOfHits)="totalCount(btnValue)"></app-counter>
      
      </div>
    </div>

    <br />
    <div class="card-foter bg-info text-center">
      <h1>Total Count:<span class="badge badge-danger">{{total}}</span> </h1>
    </div>

    <hr />

  </div>