<div class="row">
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-header">Product Form</div>
        <div class="card-body">
          <div>
            <form #productForm="ngForm" autocomplete="off" (submit)="handleSubmit(productForm)">
              <div>
                <label>Product ID</label>
                <input name="id" #id  ngModel class="form-control"  value="{{product.id}}" required/>
              </div>

              <div>
                <label>Product Name</label>
                <input name="name"  #name ngModel class="form-control"  value="{{product.name}}" required/>
              </div>

              <div>
                <label>Price</label>
                <input name="price" #price ngModel class="form-control" value="{{product.price}}" required/>
              </div>

              <div>
                <label>Description</label>
                <textarea #description  ngModel class="form-control"name="description" class="form-control" value="{{product.description}}"></textarea>
              </div>

              <div [hidden]="updateForm" class="form-group mt-2 text-center">
                <button  class="btn btn-primary btn-space" [disabled]="!productForm.valid">Save</button>
                <button disabled class="btn btn-danger btn-space">Cancel</button>
                <button type="reset" class="btn btn-warning btn-space">Reset</button>
              </div>
              <div [hidden]="!updateForm" class="form-group mt-2 text-center">
                <button (click)="updateProduct({id:id.value,name:name.value,price:price.value,description:description.value})" class="btn btn-primary btn-space">Update</button>
                <button (click)="updateForm=false"   class="btn btn-"class="btn btn-danger btn-space">Cancel</button>
                <button type="reset" class="btn btn-warning btn-space">Reset</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-6">
     <app-list-products [products]="products" (formData)="update($event)"></app-list-products>
    </div>
  </div>
