<div class="row">
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-header">Product Form</div>
        <div class="card-body">
          <div>
            <form autocomplete="off" (submit)="handleSubmit(s1.value,s2.value,s3.value,s4.value)">
              <div>
                <label>Product ID</label>
                <input name="id" #s1 class="form-control" />
              </div>

              <div>
                <label>Product Name</label>
                <input name="name" #s2 class="form-control" />
              </div>

              <div>
                <label>Price</label>
                <input name="price" #s3 class="form-control" />
              </div>

              <div>
                <label>Description</label>
                <textarea  #s4 name="description" class="form-control"></textarea>
              </div>

              <div class="form-group mt-2 text-center">
                <button type="submit" class="btn btn-primary btn-space">Save</button>
                <button class="btn btn-danger btn-space">Cancel</button>
                <button class="btn btn-warning btn-space">Reset</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-6">
     <app-list-products [products]="newProducts" ></app-list-products>
    </div>
  </div>
