<div class="card">

    <div class="card-header">
      Product Form
    </div>

    <div class="card-body">

      <form [formGroup]="productForm" autocomplete="off" (ngSubmit)="handleForm()">
        <div class="form-group">
          <label>Id</label>
          <input type="text" name="id" formControlName="id" class="form-control" required>
          <span *ngIf="fn.id.invalid && fn.id.touched">Id Required</span>
        </div>
        <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" formControlName="name" class="form-control" required>
            <span *ngIf="fn.name.invalid && fn.name.touched">Name Required</span>

          </div>
        <div class="form-group">
            <label>Price</label>
            <input type="text" name="price" formControlName="price" class="form-control" required>
            <span *ngIf="fn.price.invalid && fn.price.touched">Price Required</span>

          </div>

        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary" [disabled]="productForm.invalid">Save</button>
        </div>

      </form>


    </div>

  </div>